@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/remcoder\/projects\/getusermedia-demo\/master\/app\/styles\/tools\.scss}line{font-family:\000032}}
.mirror {
  display: inline-block;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
